// Colour Palette
$green-white: #e1e1d0; // Used for .container and tooltip background
$lavender: #b5a0d8;
$sage: #9ab89e;
$rosemary: #738e7b;
$white: #ffffff;
$dark: #333333;
$dark-gunmetal: #1e1e2f; // Used for side nav background and tooltip text

// Font Sizes
$font-small: 14px;
$font-base: 16px;
$font-large: 24px;

// Box Shadows
$box-shadow-soft: 0 4px 6px rgba(0, 0, 0, 0.75);
$box-shadow-hover: 0 6px 12px rgba(0, 0, 0, 0.15);

// Transition
$transition: all 0.3s ease-in-out;

// Gradient Mixins
@mixin gradient-background($color1, $color2) {
    background: linear-gradient(135deg, $color1, $color2);
}

// Flex Centre
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}