@import "variables.scss";
@import "responsive.scss";
@import "global.scss";
@import "base/index.scss";

body,
main,
#app {
    margin: 0;
    max-width: 100dvw;
}

html {
    scroll-padding-top: 100px;
}