@import 'variables.scss';
@import 'responsive.scss';
@import 'global.scss';
@import 'base/index.scss';
@import 'components/light-theme.scss';

body,
main,
#app {
  margin: 0;
  max-width: 100vw;
  background: $background-primary;
  color: $text-primary;
  transition: all 0.3s ease;
  position: relative;
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}
