/* 
* TYPOGRAPHY 
*/
#app {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    text-wrap: pretty;
    color: $font-dark;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading,
.subheading {
    color: $font-dark;
    font-family: "Abril Fatface", serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: 0 0 $margin-base 0;
}

h1,
.heading {
    font-size: $font-size-heading-mobile;
    @include breakpoint-up(lg) {
        font-size: $font-size-heading;
    }
}
h2,
.subheading {
    font-size: $font-size-subheading-mobile;
    @include breakpoint-up(lg) {
        font-size: $font-size-subheading;
    }
}

h3,
.h3 {
    font-size: $font-size-h3-mobile;
    @include breakpoint-up(lg) {
            font-size: $font-size-h3;
    }
}

h4,
.h4 {
    font-size: $font-size-h4-mobile;
    @include breakpoint-up(lg) {
            font-size: $font-size-h4;
    }
}

h5,
.h5 {
    font-size: $font-size-h5-mobile;
    @include breakpoint-up(lg) {
            font-size: $font-size-h5;
    }
}

p,
span,
.text--base {
    color: $font-dark;
    font-size: $font-size-base-mobile;
    @include breakpoint-up(lg) {
        font-size: $font-size-base;
    }
}

.text--small {
    font-size: $font-size-small-mobile;
    @include breakpoint-up(lg) {
        font-size: $font-size-small;
    }
}

p.text--supporting,
.text--supporting {
    text-transform: uppercase;
    font-weight: 700;
}

.button {
    font-family: "Poppins", serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 700;
}

a {
    color: $font-dark;
    text-decoration: wavy;
    &:hover,
    &:link,
    &:active,
    &:focus,
    &:visited {
        color: $font-grey;
    }
    &.button {
        color: $font-dark;
    }
}